@inherits DisplayProductBase

@foreach (var item in Products)
{
	<div class="col-md-3 mb-2">
		<a href="#">
			<div class="card" style="height:280px;">
				<img class="img-thumbnail" src="@item.ImageURL" style="width:100%; height:150px;">
				<div class="card-body">
					<h5 class="card-title mb-3">
						@item.Name
					</h5>
					<p class="card-text">
						<b>@item.Price.ToString("C", new CultureInfo("en-US"));</b>
					</p>
				</div>
			</div>
		</a>
	</div>
}